includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/

    level: max

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
